/* Classes Auxiliares */
.text-justify{text-align:justify}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.img-responsive{display:block;max-width:100%;margin:0 auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.img-left{float:left;margin:0 10px 10px 0}
.img-right{float:right;margin:0 0 10px 10px}
.red-color{color:red!important}
.font-12{font-size:12px}

/* Breadcrumb */
#breadcrumb{margin:3px 0;display:inline-block;font-size:12px}
#breadcrumb div{display:inline}
#breadcrumb a{text-decoration:none}
#breadcrumb,#breadcrumb a{color:#6d6d6d}
#breadcrumb a:hover{color:#909090;text-decoration:none}

/* Menu Mobile Footer */
.menu-footer-mobile{display:none;width:100%;position:fixed;bottom:0;left:0;box-shadow:0 0 10px rgba(0,0,0,0.05);white-space:nowrap;background:#292929;;padding:0;margin:0}
.menu-footer-mobile li{float:left;width:25%;display:block}
.menu-footer-mobile li a,.menu-footer-mobile li button{display:block;height:49px}
.menu-footer-mobile li button{border:0;width:100%}
.mm-call{color: #fff; font-size: 33px; padding: 7px 0; text-align: center}
.mm-whatsapp{color: #fff; font-size: 40px; padding: 4px 0; text-align: center}
.mm-email{color: #fff; font-size: 33px; padding: 7px 0; text-align: center}
.mm-up-to-top{color: #292929; font-size: 37px; padding: 5px 0; text-align: center}
@media screen and (max-width:40em) {
.menu-footer-mobile{display:block}
footer{margin-bottom:49px}
}